/* Positioning with absolute will make an element disregard page flow. The
   element will overlap other elements in the document.
*/

code {
  color: #666;
  font: 14px/24px "Source Code Pro";
}

section,
.offset,
.offset code {
  border-radius: 6px;
  padding: 24px 30px;
}

section {
  background: #eaeaed;
  height: 145px;
  position: relative; /* Position relative to this element */
}

.offset,
.offset code {
  height: 96px;
  position: absolute; /* Will position element in relation to <section> */
  width: 160px;
}

.offset {
  border: 2px dashed #9799a7;
  right: 0px;
  top: 0px;
}

.offset code {
  background: #2db34a;
  color: #fff;

  display: block;

  right: 20px;
  top: 20px;
}
