code {
    background: #2db34a;
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px "Source Code Pro";
    padding: 24px 15px;
    text-align: center;
}

header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}

/* Keep in mind that floating an element will change their display property. */

section {
  display: inline-block;
  width: 30%;
}

footer {
  clear: both;
  margin-bottom: 0;
}
